<div id="mires" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.mires"}}
    <a class="addItem" data-item-type="{{type}}">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  {{#if (any system.mires)}}
    <div class="flexcol spaced item-list">
      {{#each system.mires as |mire|}}
        {{> "systems/wildsea/templates/sheets/player/mire.hbs" mire type="mires"}}
      {{/each}}
    </div>
  {{else}}
    <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
  {{/if}}
</div>
