// out: false

@red: #bb434e;
@yellow: #f8a923;
@green: #84966c;
@blue: #175d7e;
@sky: #5c9abc;
@purple: #a95c8d;

@dark-bg: #2e2c20;
@mid-bg: #626256;
@light-bg: #858778;
@light-transparent: #e2e2df;

@black: #2d2a2b;
@white: #f9f9f9;

@font-face {
  font-family: 'Teko';
  src: url(./fonts/Teko/Teko-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather/Merriweather-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather/Merriweather-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

.body-font() {
  font-family: 'Merriweather', serif;
}

.title-font() {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}

.corners() {
  clip-path: polygon(
    0 0.5rem,
    0.5rem 0,
    100% 0,
    100% calc(100% - 1rem),
    calc(100% - 1.5rem) 100%,
    0 100%
  );
}

@dot: 1rem;
@editor-height: 8rem;
