@font-face {
  font-family: 'Teko';
  src: url(fonts/Teko/Teko-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-LightItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  background: #f9f9f9;
  color: #2d2a2b;
}
body h1,
body h2,
body h3,
body h4 {
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  font-weight: 600;
}
body h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
body h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
}
