@import url(./config.less);

a,
#context-menu li.context-item {
  &:hover {
    text-shadow: 0 0 8px @light-bg;
  }
}

.window-app {
  .window-content {
    background: @white;
    .body-font();
    font-size: 0.8rem;
  }

  .window-header {
    .title-font();
  }
}

#logo {
  content: url(../assets/logo.webp);
}

#pause {
  img {
    content: url(../assets/spinner.webp);
    opacity: 0.25;
  }

  figcaption {
    .title-font();
    font-size: 3rem;
    text-shadow: 0 1px 6px @dark-bg;
  }
}

.flexrow {
  &.spaced {
    column-gap: 0.25rem;
    &.wide {
      column-gap: 1rem;
    }
  }
}

.flexcol {
  &.spaced {
    row-gap: 0.25rem;
    &.wide {
      row-gap: 1rem;
    }
  }
}

.flex0 {
  flex: 0;
}

.flex4 {
  flex: 4;
}

.flex {
  display: flex !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

button,
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='time'],
input[type='search'] {
  &:focus,
  &:hover {
    box-shadow: 0 0 5px @mid-bg;
  }
}

button,
form button,
.dialog .dialog-buttons button {
  .title-font();
  .corners();
  border: none;
  border-radius: 0;
  background: @light-transparent;

  &.default {
    background: @light-bg;
    color: @white;
    border: none;
  }
}

.prosemirror menu button {
  clip-path: none;
  color: @black;
}

.tox button {
  clip-path: none;
}

form {
  button {
    background: @light-bg;
    color: @white;
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='date'],
  input[type='time'],
  input[type='search'],
  select {
    .corners();
    background: @light-transparent;
    border: none;
    padding: 0 0.5rem;
  }

  label {
    font-variant: small-caps;
  }
}

.directory .directory-header .header-search input {
  .corners();
  .body-font();
  font-size: 0.8rem;
  background: @light-transparent;
  border: none;
  padding: 0 0.5rem;
}

#chat-controls .roll-type-select {
  .body-font();
  .corners();
  font-size: 0.8rem;
  background: @light-transparent;
  padding: 0 0.5rem;
}

#chat-form textarea {
  .body-font();
  .corners();
  font-size: 0.8rem;
  background: @white;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
}

.dialog-content {
  .body-font();

  label {
    font-variant: small-caps;
  }

  h4 {
    .title-font();
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='date'],
  input[type='time'],
  input[type='search'] {
    .corners();
    border: none;
    background: @light-transparent;
    padding: 0 0.5rem;

    &:focus {
      box-shadow: none;
    }
  }
}

.chat-message {
  background: @white;

  .message-header {
    column-gap: 0.25rem;
    margin-bottom: 0.25rem;
    .title-font();
    font-size: 1.1rem;
    line-height: 1.1rem;

    .message-sender {
      .corners();
      background: @light-bg;
      color: @white;
      padding: 0.5rem 0.5rem 0;
      text-transform: uppercase;
    }

    .message-metadata {
      padding: 0.5rem 0 0;
    }
  }
  .message-content {
    .body-font();
    font-size: 0.8rem;
  }

  &.ic {
    .message-header {
      .message-sender {
        background: @mid-bg;
      }
    }
  }

  &.whisper {
    background: @light-transparent;

    .message-header {
      .message-sender {
        background: @dark-bg;
      }
    }
  }
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
  .corners();
  background: @light-transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 0.25rem;
}

.dice-tooltip .dice-rolls .roll.cut {
  opacity: 0.7;
  color: @red;
  filter: sepia(0.5) hue-rotate(-60deg);
}

.wildsea {
  #context-menu {
    .title-font();
    font-size: 0.9rem;
    text-transform: initial;
    font-weight: 500;
  }

  .block {
    display: block;
  }

  .hidden {
    display: none;
  }

  .wildsea-item {
    margin: 0 0 1rem;
  }

  .body-font();
  font-size: 0.8rem;
  background: @white;
  color: @black;

  h1,
  h2,
  h3,
  h4,
  h5 {
    .title-font();
    border-bottom: none;
    margin: 0 0 0.25rem;
    padding: 0;
    font-weight: 600;
    position: relative;

    a.addItem {
      position: absolute;
      right: 0.5rem;
      top: 0.25rem;
      font-size: 1rem;
    }

    &.corners {
      padding: 0.5rem 0.5rem 0;
    }

    small {
      font-size: 0.8em;
      text-transform: initial;
    }
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: initial;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: initial;
  }

  table {
    border: none;
    background: none;

    thead {
      .corners();
      .title-font();
      background: @mid-bg;
      color: @white;
      text-shadow: none;
      text-align: left;
      font-size: 1rem;
      line-height: 1rem;
      border-bottom: 0.5rem solid @white;

      th {
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-transform: initial;
        padding: 0.5rem 0.5rem 0;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: @light-transparent;
        }

        td {
          padding: 0.5rem;
        }
      }
    }
  }

  .black {
    color: @black;
  }

  .title {
    .title-font();
  }

  .uppercase {
    text-transform: uppercase;
  }

  .text-lg {
    font-size: 1.1rem;
  }

  .text-dark {
    color: @dark-bg;
  }

  .text-mid {
    color: @mid-bg;
  }

  .text-light {
    color: @light-bg;
  }

  .text-light-transparent {
    color: @light-transparent;
  }

  .img {
    text-align: center;
    min-width: 60px;

    img {
      max-width: 100%;
      height: auto;
      border: none;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      background: @light-bg;
    }
  }

  label {
    font-weight: bold;
    font-variant: small-caps;
  }

  input,
  select {
    border: none;
    background: @light-transparent;
    text-transform: initial;
    padding: 0 0.5rem;
    border-radius: 0;
  }

  select {
    padding: 0 0.25rem;
  }

  #name {
    .title-font();
    margin: 0;
    padding: 0.4rem 0.5rem 0;
    height: 64px;
    font-size: 48px;
    text-transform: initial;
  }

  .description {
    --editor-height: @editor-height;

    flex: 1;
    display: flex;
    min-height: var(--editor-height);
    border: 1px solid @light-bg;
    border-radius: 0.5rem;
    padding: 0.5rem;

    .editor {
      min-height: var(--editor-height);
      width: 100%;

      .editor-content {
        min-height: var(--editor-height);
      }

      .tox.tox-tinymce {
        min-height: var(--editor-height);
      }
    }

    &.short {
      --editor-height: calc(@editor-height / 2);
    }
  }

  .center {
    text-align: center;
  }

  .handle {
    cursor: grab;
  }

  .corners {
    .corners();
  }

  .rounded {
    border-radius: 0.5rem;
  }

  .border-slim {
    border: 1px solid @light-bg;

    &.padded {
      padding: calc(0.5rem - 0.5px);
    }
  }

  .dark {
    background: @dark-bg;
    color: @white;
  }

  .mid {
    background: @mid-bg;
    color: @white;
  }

  .light {
    background: @light-bg;
    color: @white;
  }

  .light-transparent {
    background: @light-transparent;
  }

  .padded {
    padding: 0.5rem !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .list-track {
    margin-bottom: 0.25rem;
  }

  ul.track {
    display: flex;
    flex-direction: row;
    flex: 0;
    column-gap: 0.1rem;
    position: relative;
    margin: 0;
    padding: 0;

    &.padded {
      padding: 0.25rem 0 0;
    }

    li {
      display: block;
      width: @dot;
      height: @dot;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      border: 1px solid @mid-bg;
      position: relative;

      .dot {
        position: absolute;
        background: @white;
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0.5px solid @mid-bg;
        border-radius: 50%;
        display: block;
      }

      &.checked {
        .dot {
          background: @mid-bg;
        }
      }
    }
  }

  .mire {
    border-radius: 0 2rem 2rem 0;
    border: 2px solid @light-bg;
    padding: 0.25rem 0.5rem;
    position: relative;

    .track {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .bordered {
    border: 2px solid @mid-bg;
    border-radius: 1rem;
    padding: 0.75rem 0.5rem 0.5rem;
    margin: -0.75rem 0 0;
    min-height: 3rem;
  }

  h3 + .bordered {
    border-color: @light-bg;
  }

  .aspect {
    border: 2px solid @light-bg;
    border-radius: 0 1rem 1rem 0;

    h3 {
      padding: 0.5rem 0.5rem 0;
      border-radius: 0 calc(1rem - 2px) 0 0;
    }

    .track {
      margin: 0.5rem;
    }

    p {
      margin: 0.5rem;
    }
  }

  .drawer {
    margin: 0;
    p {
      margin-top: 0;
    }
  }

  #resources .item {
    h3 {
      margin-bottom: 0;
    }
  }
}

.sheet.journal-entry .journal-entry-content {
  background: @white;
  .body-font();
  color: @black;

  .journal-page-header,
  .journal-page-content {
    h1,
    h2,
    h3,
    h4 {
      .title-font();
      font-weight: 600;
      border: 0;
      color: @black;
      margin: 0 0 0;

      text-transform: initial;
    }

    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  .journal-page-content {
    p {
      margin: 0 0 0.8rem;
      font-size: 0.8rem;

      &:empty {
        display: none;
      }
    }

    .wildsea-item {
      margin: 0 0 1rem;
    }

    .flexrow {
      column-gap: 1rem;
    }

    ul {
      margin: 0 0 0.8rem;
      li {
        p {
          margin: 0;
        }
      }
    }

    small,
    .small {
      font-size: 0.7em;
      text-transform: none;
      color: @light-bg;

      &.red {
        color: @red;
      }
      &.yellow {
        color: @yellow;
      }
      &.green {
        color: @green;
      }
      &.blue {
        color: @blue;
      }
      &.sky {
        color: @sky;
      }
      &.purple {
        color: @purple;
      }
    }

    img {
      border: 0;
    }

    --blockquote-border: @light-bg;

    blockquote {
      background: none;
      border: 3px solid var(--blockquote-border);
      border-radius: 0.8rem;
      padding: 0.8rem;
      margin: 1rem 5rem;
      font-style: normal;

      h3 {
        color: var(--blockquote-border);
      }

      &.red {
        --blockquote-border: @red;
      }
      &.yellow {
        --blockquote-border: @yellow;
      }
      &.green {
        --blockquote-border: @green;
      }
      &.sky {
        --blockquote-border: @sky;
      }
      &.blue {
        --blockquote-border: @blue;
      }
      &.purple {
        --blockquote-border: @purple;
      }

      &.fiction,
      &.black {
        border: none;
        margin: 0.8rem 0;
        padding: 0.8rem 0.8rem 0;
      }

      &.fiction {
        p {
          .title-font();
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 1.5rem;
          text-transform: initial;
        }
      }

      &.black {
        border: 1px solid @black;
        background: @black;

        p,
        h1,
        h2,
        h3 {
          color: @white;
        }
      }
    }
  }

  .journal-header {
    .title-font();
    background: @mid-bg;
    color: @white;
    margin: 0 0 1rem;
    padding: 0.5rem;

    input {
      color: @white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.5rem;
      padding: 2rem;
    }
  }
}
